/* Body */
body {
    background: url("landscape_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
h1 {
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.searchbar {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
 

}
.searchbar_input {
  padding: 10px;
  outline: none;
  border: 1px #ffffff;
  border-radius: 20px 0 0 20px;
  background-color: rgba(0, 0, 0, 0.5);
  
}
.searchbar_input:focus {
  background: white;
  box-shadow: 0 0 2px white;
}

.searchbar_input::placeholder  {
  font-size: 0.89rem;
  color: black
}

.searchbutton {
  background-color: white;
  color: none;
  width: 40px;
  outline: none;
  border: none;
  align-items: center;
  justify-content: center;
  border-radius: 0 20px 20px 0;
}

